{% extends "checkout/checkout.html" %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
{% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
	{% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
	<div class="sub-header">
		<h2>Enter payment details</h2>
	</div>

	{% block payment_details_content %}
        <form method=POST action="{{ request.path }}">
            {% csrf_token %}
            {{ cielo_form }}
            <button class="btn btn-primary btn-large">{% trans "Continue" %}</button>
        </form>
	{% endblock payment_details_content %}

{% endblock payment_details %}
